<!DOCTYPE html>
<head>
	<titel>MyApp.com</title>
</head>
<body>
	<h1>Sign up!</h1>
		
		<form action="/" method="POST">
			Email*
    	<input type="text" name="email" placeholder="email" required>
    	Password*
    	<input type="text" name="password" placeholder="password" required>
    	<!-- <button onclick= '/home' type= "submit">submit</button></form> -->
    	<input  value = "submit" type= "submit">

    	<a href= 'signin.html'>already have an account? sign in!</a>

</body>










</html>