<!DOCTYPE html>
<head>
	<titel>MyApp.com</title>
</head>
<body>
	<h1>Sign in!</h1>
		
		<form action="/signin" method="POST">
			Email*
    	<input type="text" name="email" placeholder="email" required>
    	Password*
    	<input type="text" name="password" placeholder="password" required>
    	<!-- <a href= "/home"><button type= "submit">submit</button></a></form> -->
    	<input  placeholder = "submit" type= "submit">
    	<a href= "/signout"><button>Sign out</button></a>

</body>










</html>