body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative; /* Ensure canvas can be positioned relative to body */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-container {
    width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    z-index: 1; /* Ensure form and content are above canvas */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-group input[type="radio"] {
    margin: 0 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
}

button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}
